PORT=8000
MONGO_URI=your_db_connection_string
JWT_SECRET=your_jwt_secret
GROQ_API_KEY=your_groq_key
BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_EMAIL=your_brevo_sender_email
BREVO_SENDER_NAME=your_brevo_sender_name